.map {
    position: relative;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    left: calc(50% - 300px);
    background: url("../Images/map.jpeg") no-repeat center center/cover;
}
